.wrapper {
    position: relative;
}

.nice-bg {
    height: 50%;
    width: 100%;

    /* Nice rounder upper borders */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    /* Set bg image to scale nicely */
    background-image: url("../.././assets/Raphael_School_of_Athens.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-photo {
    width: 5em;
    height: 5em;
    padding: .2em;

    position: absolute;
    top: calc(50% - 2.8em);
    left: 6%;
    
    border: .4em solid #2e2d2d ;
    border-radius: 100%;

    background-image: url("../.././assets/tiny.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2e2d2d;
}

@media screen and (max-width: 768px) {
    .profile-photo {
        top: calc(50% - 1.95em);
        width: 3em;
        height: 3em;
    }
}
    


.status-ball {
    width: 1em;
    height: 1em;

    position: absolute;
    top: calc(100% - 1.5em);
    left: calc(100% - 1.5em);

    border: .3em solid #2e2d2d ;
    border-radius: 100%;

    background-color: green;
}

.my-name {
    margin-top: 3em;
    margin-left: 6%;
    margin-right: 6%;
    padding-bottom: .5em;

    border-bottom: 2px solid #5c5a5a;
}
b {
    color: #a8a8a8;
}