.card-wrapper {
    display: grid;
    grid-template-rows: .6fr 1fr;

    width: 25%;


    border-radius: 20px;

    background-color: #2e2d2d;
}

@media only screen and (max-width: 1550px) {
    .card-wrapper {
        width: 40%;
    }
}

@media only screen and (max-width: 1200px) {
    .card-wrapper {
        width: 40%;
    }
}

@media only screen and (max-width: 1000px) {
    .card-wrapper {
        width: 60%;
    }
}

@media only screen and (max-width: 800px) {
    .card-wrapper {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .card-wrapper {
        width: 80%;
    }
}