.about-wrapper {
    display: flex;
    flex-direction: column;
    
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
}
.about-header, .learning-header, .connections-header {
    font-size: .8em;
}
.about-p {
    font-size: .8em;
}