html, body, #root, .App {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "WakeUpNeo";
  src: url("./assets/vt323/VT323-Regular.ttf");
}

@font-face {
  font-family: "ModernRetro";
  src: url("./assets/white-rabbit/whitrabt.ttf");
}
  
